.ModalWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(189, 189, 189, 0.6);
  }
  
  .ModalContainer {
    display: flex;
    position: fixed;
    min-width: 60%;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: scaleUp 0.3s ease-out forwards;
  }
  
  .imageWid {
  //  max-width: 35rem;
  
  border-radius: 1rem 0 0 1rem;
  }

  @keyframes scaleUp {
      0% {
          transform: translate(-50%, -50%) scale(0.8); 
          opacity: 0;
        }
        100% {
            transform: translate(-50%, -50%) scale(1); 
            opacity: 1;
        }
    }
    .outPop{
        padding: 4rem 7rem 4rem 7rem;
    }
    
    .popup{
      width:21rem;
      text-align: center;
    }

  .popup h1{
    font-size: 4rem;
    font-weight: bolder;
   
  }
  .popup p{
    font-size: 1rem;
    margin: 0rem 0rem 3rem 0rem;
  }
  .icons{
    border: 1px solid lightgray;
    padding: 0.6rem;
    font-size: 1.2rem;
    margin: 1.4rem;
    border-radius: 0.5rem;
    width:18rem
  }
  
  .icons img{
    padding: 0.3rem 0.6rem 0rem;
  }

  .close{
    position: absolute;
    top:0;
    right:5px;
    background-color: inherit;
    border: none;
  }

  @media (max-width: 768px) {
    .ModalContainer{
      flex-direction: column;


    }
    .imageWid {
    display: none;

     
    }
  }
  @media (max-width: 500px) {
      .ModalContainer{
        width: 90%;
        padding: 0rem;
      }
      .outPop{
        padding: 1rem;
        width: 100%;
      }
      .popup h1{
        font-size: 3rem;
        font-weight: bolder;
       
      }
      .popup{
        width: 100%;
      }
      .popup p{
        font-size: 1rem;
        text-align: center;
        margin: 0rem 0rem 3rem 0rem;
      }
      .icons{
        border: 1px solid lightgray;
        margin: 1rem;
        border-radius: 0.5rem;
        width:90%;
      }
  }