:root {
    --primary-color: #333;
    --secondary-color: #555;
    --hover-color: #777;
    --text-color: white;
    --border-line:0.1rem solid #dfe0dd;
    --black-back: rgb(29, 28, 35);
    font-family: Arial, sans-serif;
}
